:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --sombra: #213547;
  --success: #D4EDDA;
  --warning: #E0A800;
}

header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}
#contador {
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}

#botones {
  margin-bottom: 20px;
}
#juego {
  width: 55vw;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
  
}
div.carta {
  perspective: 1000px;
}
.carta>img:hover {
  box-shadow: 0px 0px 10px 0px var(--sombra);
}
.carta>img {
  box-shadow: 0px 0px 5px 0px var(--sombra);
  transition: transform 1s;
  transform-style: preserve-3d;
}
.rotarCarta {
  transform: rotateY(90deg);
}

.success {
  padding: 5px 0px;
  background: var(--success);
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px var(--sombra);
  font-weight: bold;
  font-size: 23px;
}

.warning {
  padding: 5px 0px;
  background: var(--warning);
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px var(--sombra);
  font-weight: bold;
  font-size: 23px;
}






a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  /*min-height: 100vh;*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
  box-shadow: 0px 0px 5px 0px #213547;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #d6d6d6;
  }
}
